Env : retfound

In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [4]:
csv_file = pd.read_csv('/home/john/network/RETFound/RETFound_MAE-main/Fundus_deepsurv/Regression/Final_age.csv')
Image_file = '/home/john/network/RETFound/data/ROI/'

In [3]:
csv_file["Image_path"] =  ""

path = "/home/john/network/RETFound/data/ROI/"

for i in range(len(csv_file["ID"])):
    csv_file["Image_path"][i] = path + csv_file["ID"][i]

/home/john/anaconda3/envs/retfound/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
csv_file

,ID,Age,RealAge,Image_path
0,4385815-02-L-20170802.jpg,70,64,/home/john/network/RETFound/data/ROI/4385815-0...
1,7093981-05-L-20200804.jpg,51,48,/home/john/network/RETFound/data/ROI/7093981-0...
2,4940688-05-R-20230201.jpg,60,60,/home/john/network/RETFound/data/ROI/4940688-0...
3,2310298-05-L-20220708.jpg,60,59,/home/john/network/RETFound/data/ROI/2310298-0...
4,4540756-03-R-20211102.jpg,72,70,/home/john/network/RETFound/data/ROI/4540756-0...
...,...,...,...,...
8163,4092882-01-R-20190103.jpg,68,64,/home/john/network/RETFound/data/ROI/4092882-0...
8164,4161150-04-L-20200131.jpg,60,57,/home/john/network/RETFound/data/ROI/4161150-0...
8165,4073719-08-R-20230710.jpg,79,79,/home/john/network/RETFound/data/ROI/4073719-0...
8166,7096147-02-R-20220816.jpg,51,50,/home/john/network/RETFound/data/ROI/7096147-0...
8167,7064104-06-L-20230508.jpg,64,64,/home/john/network/RETFound/data/ROI/7064104-0...

In [5]:
csv_file.to_csv("/home/john/network/RETFound/RETFound_MAE-main/Fundus_deepsurv/Regression/Age+path.csv",index=False)

# Training data csv

In [5]:
import os
import shutil

Training_file =  '/home/john/network/RETFound/data/dataset_split/Training'
Regression_TrainingFile = '/home/john/network/RETFound/data/RegressionTrainingData/'

for root,sub,files in os.walk(Training_file):
    for file in files:
        source_file_path = os.path.join(root,file)
        destination_file_path = os.path.join(Regression_TrainingFile,file)
        shutil.copy2(source_file_path,destination_file_path)

print("Files copied to RegressionTrainingData.")

Files copied to RegressionTrainingData.

In [7]:
Regression_dataset = "/home/john/network/RETFound/data/RegressionTrainingData/"
dataset = pd.read_csv("/home/john/network/RETFound/RETFound_MAE-main/Fundus_deepsurv/Regression/0131.csv")

In [8]:
dataset

,病歷號,年齡,性別,fundoscope(共做過幾次),1st fundo (date),2nd fundo (date),3rd fundo (date),4rd fundo (date),5rd fundo (date),6rd fundo (date),...,運動種類,運動頻率分/次,運動頻率次/週,衛教檢驗日期,飲食,藥物認識,運動的目的及注意事項,生病時的照顧,自我監測,指導注射技巧
0,4314535,64,1,14.0,20080415,20090210.0,20100205.0,20110419.0,20120424.0,20130618.0,...,NaN,NaN,NaN,2023/03/03,NaN,NaN,NaN,NaN,NaN,NaN
1,4069957,69,1,8.0,20051215,20150506.0,20170202.0,20171225.0,20190116.0,20200422.0,...,NaN,NaN,NaN,2023/04/12,NaN,NaN,NaN,NaN,NaN,NaN
2,4386971,71,2,3.0,20200214,20210414.0,20220801.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/01/17,NaN,NaN,NaN,NaN,NaN,NaN
3,4845785,53,1,3.0,20200811,20211202.0,20230119.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/01/18,NaN,NaN,NaN,NaN,NaN,NaN
4,4132852,60,2,4.0,20180117,20181002.0,20200226.0,20221028.0,NaN,NaN,...,NaN,NaN,NaN,2023/05/29,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,4241840,69,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/06/06,NaN,NaN,1.0,NaN,NaN,NaN
1303,1795454,62,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,2685764,64,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1305,3807636,56,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306,2231493,72,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/06/14,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
file_list = os.listdir(Regression_dataset)
new_dataframe = pd.DataFrame(columns=dataset.columns)

for filename in file_list:
    start = 0

    for i in range(start,len(filename)):
        if filename[i] == '-':
            found = True
            break
    
    if found:
        match = False

        for j in range(0, len(dataset['病歷號'])):
            if filename[start:i] == str(dataset['病歷號'][j]):
                new_row = dataset.iloc[j]
                new_dataframe = new_dataframe.append(new_row,ignore_index = True)
                match = True
                
        if not match:
                    print(f"Not found : {filename[start:i]}")

new_dataframe.to_csv("/home/john/network/RETFound/data/Regression_TrainingData.csv",index = False)

In [12]:
csv_read_Training = pd.read_csv("/home/john/network/RETFound/data/Regression_TrainingData.csv")

In [13]:
csv_read_Training

,病歷號,年齡,性別,fundoscope(共做過幾次),1st fundo (date),2nd fundo (date),3rd fundo (date),4rd fundo (date),5rd fundo (date),6rd fundo (date),...,運動種類,運動頻率分/次,運動頻率次/週,衛教檢驗日期,飲食,藥物認識,運動的目的及注意事項,生病時的照顧,自我監測,指導注射技巧
0,4385815,70,2,7.0,20160713,20170802.0,20180912.0,20190918.0,20201125.0,20211223.0,...,NaN,NaN,NaN,2023/03/30,NaN,NaN,NaN,NaN,NaN,NaN
1,4940688,60,1,5.0,20180124,20190319.0,20200908.0,20220127.0,20230201.0,NaN,...,NaN,NaN,NaN,2023/02/01,NaN,NaN,NaN,NaN,NaN,NaN
2,4912540,86,1,5.0,20190618,20200330.0,20210823.0,20220725.0,20230424.0,NaN,...,NaN,NaN,NaN,2023/04/24,NaN,NaN,NaN,NaN,NaN,NaN
3,4030292,58,1,4.0,20210416,20211028.0,20221013.0,20231130.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4262951,46,2,7.0,20170407,20180223.0,20190322.0,20200522.0,20210817.0,20220510.0,...,NaN,NaN,NaN,2023/04/25,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5209,7058540,71,1,3.0,20090324,20200826.0,20221227.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/03/28,NaN,NaN,NaN,NaN,NaN,NaN
5210,4171592,72,2,7.0,20170412,20180425.0,20190619.0,20200722.0,20210512.0,20220715.0,...,NaN,NaN,NaN,2023/03/17,NaN,NaN,NaN,NaN,NaN,NaN
5211,4092882,68,2,4.0,20190103,20210330.0,20230217.0,20231117.0,NaN,NaN,...,NaN,NaN,NaN,2023/05/19,NaN,NaN,NaN,NaN,NaN,NaN
5212,4073719,79,2,8.0,20160122,20170331.0,20180606.0,20190529.0,20200624.0,20210818.0,...,NaN,NaN,NaN,2023/04/17,NaN,NaN,NaN,NaN,NaN,NaN
5213,7064104,64,2,6.0,20171106,20181212.0,20200205.0,20201230.0,20220524.0,20230508.0,...,NaN,NaN,NaN,2023/05/08,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
keep = ['病歷號','年齡']

csv_read_Training = csv_read_Training[keep]
csv_read_Training = csv_read_Training.rename(columns = {'病歷號':'ID','年齡':'Age'})

In [15]:
csv_read_Training

           ID  Age
0     4385815   70
1     4940688   60
2     4912540   86
3     4030292   58
4     4262951   46
...       ...  ...
5209  7058540   71
5210  4171592   72
5211  4092882   68
5212  4073719   79
5213  7064104   64

[5214 rows x 2 columns]

In [16]:
# Loading Fundus Images
ImageFilePath = '/home/john/network/RETFound/data/RegressionTrainingData'
ImageFileNames = [filename for filename in os.listdir(ImageFilePath)]

csv_read_Training['ID']  = ImageFileNames

In [17]:
csv_read_Training

                             ID  Age
0     4385815-02-L-20170802.jpg   70
1     4940688-05-R-20230201.jpg   60
2     4912540-04-L-20220725.jpg   86
3     4030292-03-L-20221013.jpg   58
4     4262951-05-R-20210817.jpg   46
...                         ...  ...
5209  7058540-03-R-20221227.jpg   71
5210  4171592-02-R-20180425.jpg   72
5211  4092882-01-R-20190103.jpg   68
5212  4073719-08-R-20230710.jpg   79
5213  7064104-06-L-20230508.jpg   64

[5214 rows x 2 columns]

In [19]:
csv_read_Training["RealAge"] = ""

for i in range(len(csv_read_Training.ID)):
    csv_read_Training["RealAge"][i] = int(csv_read_Training["Age"][i]) - (2023 - int(csv_read_Training["ID"][i][-12:-8]))

/home/john/anaconda3/envs/retfound/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [20]:
csv_read_Training

                             ID  Age RealAge
0     4385815-02-L-20170802.jpg   70      64
1     4940688-05-R-20230201.jpg   60      60
2     4912540-04-L-20220725.jpg   86      85
3     4030292-03-L-20221013.jpg   58      57
4     4262951-05-R-20210817.jpg   46      44
...                         ...  ...     ...
5209  7058540-03-R-20221227.jpg   71      70
5210  4171592-02-R-20180425.jpg   72      67
5211  4092882-01-R-20190103.jpg   68      64
5212  4073719-08-R-20230710.jpg   79      79
5213  7064104-06-L-20230508.jpg   64      64

[5214 rows x 3 columns]

In [21]:
csv_read_Training["Image_Path"] = ""

path = "/home/john/network/RETFound/data/RegressionTrainingData/"

for i in range(len(csv_read_Training["ID"])):
    csv_read_Training["Image_Path"][i] = path + csv_read_Training["ID"][i]

/home/john/anaconda3/envs/retfound/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
csv_read_Training

,ID,Age,RealAge,Image_Path
0,4385815-02-L-20170802.jpg,70,64,/home/john/network/RETFound/data/RegressionTra...
1,4940688-05-R-20230201.jpg,60,60,/home/john/network/RETFound/data/RegressionTra...
2,4912540-04-L-20220725.jpg,86,85,/home/john/network/RETFound/data/RegressionTra...
3,4030292-03-L-20221013.jpg,58,57,/home/john/network/RETFound/data/RegressionTra...
4,4262951-05-R-20210817.jpg,46,44,/home/john/network/RETFound/data/RegressionTra...
...,...,...,...,...
5209,7058540-03-R-20221227.jpg,71,70,/home/john/network/RETFound/data/RegressionTra...
5210,4171592-02-R-20180425.jpg,72,67,/home/john/network/RETFound/data/RegressionTra...
5211,4092882-01-R-20190103.jpg,68,64,/home/john/network/RETFound/data/RegressionTra...
5212,4073719-08-R-20230710.jpg,79,79,/home/john/network/RETFound/data/RegressionTra...
5213,7064104-06-L-20230508.jpg,64,64,/home/john/network/RETFound/data/RegressionTra...

In [23]:
csv_read_Training.to_csv("/home/john/network/RETFound/data/RegressionData.csv",index=False)

 # validation data

In [24]:
import os
import shutil

validation_file =  '/home/john/network/RETFound/data/dataset_split/validation'
Regression_TrainingFile = '/home/john/network/RETFound/data/RegressionvalidationData/'

for root,sub,files in os.walk(validation_file):
    for file in files:
        source_file_path = os.path.join(root,file)
        destination_file_path = os.path.join(Regression_TrainingFile,file)
        shutil.copy2(source_file_path,destination_file_path)

print("Files copied to RegressionvalidationData.")

Files copied to RegressionvalidationData.

In [25]:
Regression_dataset = "/home/john/network/RETFound/data/RegressionvalidationData/"
dataset = pd.read_csv("/home/john/network/RETFound/RETFound_MAE-main/Fundus_deepsurv/Regression/0131.csv")

In [26]:
dataset

,病歷號,年齡,性別,fundoscope(共做過幾次),1st fundo (date),2nd fundo (date),3rd fundo (date),4rd fundo (date),5rd fundo (date),6rd fundo (date),...,運動種類,運動頻率分/次,運動頻率次/週,衛教檢驗日期,飲食,藥物認識,運動的目的及注意事項,生病時的照顧,自我監測,指導注射技巧
0,4314535,64,1,14.0,20080415,20090210.0,20100205.0,20110419.0,20120424.0,20130618.0,...,NaN,NaN,NaN,2023/03/03,NaN,NaN,NaN,NaN,NaN,NaN
1,4069957,69,1,8.0,20051215,20150506.0,20170202.0,20171225.0,20190116.0,20200422.0,...,NaN,NaN,NaN,2023/04/12,NaN,NaN,NaN,NaN,NaN,NaN
2,4386971,71,2,3.0,20200214,20210414.0,20220801.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/01/17,NaN,NaN,NaN,NaN,NaN,NaN
3,4845785,53,1,3.0,20200811,20211202.0,20230119.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/01/18,NaN,NaN,NaN,NaN,NaN,NaN
4,4132852,60,2,4.0,20180117,20181002.0,20200226.0,20221028.0,NaN,NaN,...,NaN,NaN,NaN,2023/05/29,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,4241840,69,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/06/06,NaN,NaN,1.0,NaN,NaN,NaN
1303,1795454,62,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,2685764,64,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1305,3807636,56,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306,2231493,72,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/06/14,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
file_list = os.listdir(Regression_dataset)
new_dataframe = pd.DataFrame(columns=dataset.columns)

for filename in file_list:
    start = 0

    for i in range(start,len(filename)):
        if filename[i] == '-':
            found = True
            break
    
    if found:
        match = False

        for j in range(0, len(dataset['病歷號'])):
            if filename[start:i] == str(dataset['病歷號'][j]):
                new_row = dataset.iloc[j]
                new_dataframe = new_dataframe.append(new_row,ignore_index = True)
                match = True
                
        if not match:
                    print(f"Not found : {filename[start:i]}")

In [29]:
new_dataframe.to_csv("/home/john/network/RETFound/data/Regression_validationData.csv",index = False)

In [30]:
vali_csv_read = pd.read_csv("/home/john/network/RETFound/data/Regression_validationData.csv")

In [31]:
vali_csv_read

,病歷號,年齡,性別,fundoscope(共做過幾次),1st fundo (date),2nd fundo (date),3rd fundo (date),4rd fundo (date),5rd fundo (date),6rd fundo (date),...,運動種類,運動頻率分/次,運動頻率次/週,衛教檢驗日期,飲食,藥物認識,運動的目的及注意事項,生病時的照顧,自我監測,指導注射技巧
0,2310298,60,1,6.0,20180615,20190610.0,20200703.0,20211020.0,20220708.0,20230928.0,...,NaN,NaN,NaN,2023/04/07,NaN,NaN,NaN,NaN,NaN,NaN
1,4945112,74,2,8.0,20160511,20170208.0,20180321.0,20190507.0,20200805.0,20211020.0,...,NaN,NaN,NaN,2023/03/31,NaN,NaN,NaN,NaN,NaN,NaN
2,2259216,82,2,3.0,20220401,20230109.0,20231013.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/04/14,NaN,NaN,NaN,NaN,NaN,NaN
3,4183811,68,2,6.0,20180313,20190226.0,20200603.0,20210901.0,20221121.0,20230815.0,...,NaN,NaN,NaN,2023/05/16,NaN,NaN,NaN,NaN,NaN,NaN
4,2310298,60,1,6.0,20180615,20190610.0,20200703.0,20211020.0,20220708.0,20230928.0,...,NaN,NaN,NaN,2023/04/07,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,4127565,77,2,3.0,20210903,20220816.0,20230720.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2023/05/04,NaN,NaN,NaN,NaN,NaN,NaN
1285,4880669,68,2,5.0,20190704,20200529.0,20210702.0,20220823.0,20230614.0,NaN,...,NaN,NaN,NaN,2023/05/16,NaN,NaN,NaN,NaN,NaN,NaN
1286,8786422,72,2,8.0,20160217,20170531.0,20180516.0,20190327.0,20200923.0,20211124.0,...,NaN,NaN,NaN,2023/05/09,NaN,NaN,NaN,NaN,NaN,NaN
1287,4137463,64,1,6.0,20170330,20180613.0,20190626.0,20200805.0,20211006.0,20221129.0,...,NaN,NaN,NaN,2023/05/16,NaN,NaN,NaN,NaN,NaN,NaN
1288,4105278,63,2,4.0,20201222,20211111.0,20221017.0,20230927.0,NaN,NaN,...,NaN,NaN,NaN,2023/04/19,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
keep = ['病歷號','年齡']

vali_csv_read = vali_csv_read[keep]
vali_csv_read = vali_csv_read.rename(columns = {'病歷號':'ID','年齡':'Age'})

In [33]:
vali_csv_read

           ID  Age
0     2310298   60
1     4945112   74
2     2259216   82
3     4183811   68
4     2310298   60
...       ...  ...
1284  4127565   77
1285  4880669   68
1286  8786422   72
1287  4137463   64
1288  4105278   63

[1289 rows x 2 columns]

In [34]:
# Loading Fundus Images
ImageFilePath = '/home/john/network/RETFound/data/RegressionvalidationData'
ImageFileNames = [filename for filename in os.listdir(ImageFilePath)]

vali_csv_read['ID']  = ImageFileNames

In [35]:
vali_csv_read

                             ID  Age
0     2310298-05-L-20220708.jpg   60
1     4945112-02-L-20170208.jpg   74
2     2259216-02-R-20230109.jpg   82
3     4183811-04-L-20210901.jpg   68
4     2310298-02-R-20190610.jpg   60
...                         ...  ...
1284  4127565-01-R-20210903.jpg   77
1285  4880669-04-L-20220823.jpg   68
1286  8786422-01-L-20160217.jpg   72
1287  4137463-06-L-20221129.jpg   64
1288  4105278-04-L-20230927.jpg   63

[1289 rows x 2 columns]

In [36]:
vali_csv_read["RealAge"] = ""

for i in range(len(vali_csv_read.ID)):
    vali_csv_read["RealAge"][i] = int(vali_csv_read["Age"][i]) - (2023 - int(vali_csv_read["ID"][i][-12:-8]))

/home/john/anaconda3/envs/retfound/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [37]:
vali_csv_read

                             ID  Age RealAge
0     2310298-05-L-20220708.jpg   60      59
1     4945112-02-L-20170208.jpg   74      68
2     2259216-02-R-20230109.jpg   82      82
3     4183811-04-L-20210901.jpg   68      66
4     2310298-02-R-20190610.jpg   60      56
...                         ...  ...     ...
1284  4127565-01-R-20210903.jpg   77      75
1285  4880669-04-L-20220823.jpg   68      67
1286  8786422-01-L-20160217.jpg   72      65
1287  4137463-06-L-20221129.jpg   64      63
1288  4105278-04-L-20230927.jpg   63      63

[1289 rows x 3 columns]

In [38]:
vali_csv_read["Image_Path"] = ""

path = "/home/john/network/RETFound/data/RegressionvalidationData/"

for i in range(len(vali_csv_read["ID"])):
    vali_csv_read["Image_Path"][i] = path + vali_csv_read["ID"][i]

/home/john/anaconda3/envs/retfound/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
vali_csv_read

,ID,Age,RealAge,Image_Path
0,2310298-05-L-20220708.jpg,60,59,/home/john/network/RETFound/data/Regressionval...
1,4945112-02-L-20170208.jpg,74,68,/home/john/network/RETFound/data/Regressionval...
2,2259216-02-R-20230109.jpg,82,82,/home/john/network/RETFound/data/Regressionval...
3,4183811-04-L-20210901.jpg,68,66,/home/john/network/RETFound/data/Regressionval...
4,2310298-02-R-20190610.jpg,60,56,/home/john/network/RETFound/data/Regressionval...
...,...,...,...,...
1284,4127565-01-R-20210903.jpg,77,75,/home/john/network/RETFound/data/Regressionval...
1285,4880669-04-L-20220823.jpg,68,67,/home/john/network/RETFound/data/Regressionval...
1286,8786422-01-L-20160217.jpg,72,65,/home/john/network/RETFound/data/Regressionval...
1287,4137463-06-L-20221129.jpg,64,63,/home/john/network/RETFound/data/Regressionval...
1288,4105278-04-L-20230927.jpg,63,63,/home/john/network/RETFound/data/Regressionval...

In [40]:
vali_csv_read.to_csv("/home/john/network/RETFound/data/RegressionData_vali.csv",index=False)